@mixin transform($x: 50%, $y: 50%, $p: 50%, $p2: 50%) {
	clip-path: ellipse($x $y at $p $p2);
	transition: clip-path 1s;
	.div-blurb-text{
		width: $x;
		@include center-element;
		transition: width 1s;
		padding: 3%;
	}
	.blurb-title {
		width: auto;
		display: inline-block;
	}
	ul {
		margin-top: 2%;
		padding-left: 0px;
		width: auto;
		text-align: left;
		li {
			width: auto;
			@include li-blurb-mobile-p;
		}
	}
}
