@mixin center-element {
	margin-left: auto;
	margin-right: auto;
}

@mixin bottom-line {
	border: 1px solid $dkpurple;
	border-bottom-style: solid;
	border-top-style: none;
  	border-right-style: none;
  	border-left-style: none;
}

@mixin text-shadow-20 {
	text-shadow: 0 4px 7px $black-20;
}

@mixin text-shadow-50 {
	text-shadow: 0 4px 7px $black-50;
}

@mixin text-shadow-below {
	text-shadow: -2px 8px 7px $black-50;
}

@mixin blurb-sizing($left: false, $width: false) {
	width:auto;
	position: relative;
	background-color: $orange;
	.div-blurb-text {
		z-index: 3;
		padding: 3vh;
		.blurb-title {
			@include title-blurb;
			margin-bottom: 0%;
		}
	}
}


@mixin height($height, $margin, $elNum){
	height: (($height + $margin) * $elNum) + 40;
}
