@import 'colors', 'fonts', 'mixins', 'textBlurbs', 'animate';
$breakpoint-tablet-port: 768px;
$breakpoint-tablet-land: 1024px;

//background
* {
	scroll-behavior: smooth;
	width: 100vw;

}

body{
	background: $lavender;
	overflow-x: hidden;
}

//Section One
header{
	height: 100vh;
	text-align: center;
	@include bottom-line;
}

.headerDesign {
	@include center-element;
	width: 90vw;
	border: 3px solid $orange;
	border-top-style: none;
  	border-right-style: solid;
  	border-bottom-style: solid;
  	border-left-style: solid;
  	@media (min-width: $breakpoint-tablet-port) {
		height: 50vh;
	}
	@media (min-width: $breakpoint-tablet-land) {
		height: 60vh;
	}

}

.title {
	margin-top: 0px;
	padding-top: 5%;
	padding-bottom: 5%;
	@include title-mobile-p;
	@media (min-width: $breakpoint-tablet-port) {
		padding-top: 10%;
	}
	@media (min-width: $breakpoint-tablet-land) {
		padding-top: 7%;
	}
}

.subtitle-text {
	margin-top: 30%;
	margin-bottom: auto;
	@include header-subtitle-mobile-p;
	@media (min-width: $breakpoint-tablet-port) {
		margin-top: 20%;
	}
	@media (min-width: $breakpoint-tablet-land) {
		margin-top: 10%;
	}
}

//arrows

.arrows {
	position: fixed;
	top: 20%;
	right: 0px;
	width: 10vw;
	height: 30vh;
	z-index: 4;
	@media (min-width: $breakpoint-tablet-port) {
		width: 12vw;
	}
	@media (min-width: $breakpoint-tablet-land) {
		width: 10vw;
	}
}

.arrow {
  	width: 10vw;
  	height: 30vh;
  	@media (min-width: $breakpoint-tablet-port) {
		width: 12vw;
	}
	@media (min-width: $breakpoint-tablet-land) {
		width: 8vw;
	}
}

.hide {
	visibility: hidden;
}
//section Two


.section-title{
	@include section-two-header-mobile-p;
	margin-bottom: 0px;
}


p {
  @include p-mobile-p;
}


li{
	@include blurb-info-mobile-p;
}



#one {
	width:100vw;
	height: 180px;
	position: relative;
	background-color: $orange;
	@include transform(30%, 50%, 50%, 50%);
	transition: clip-path 1s;
	&:hover {
		@include transform(40%, 50%, 50%, 50%);
	}
	@media (min-width: $breakpoint-tablet-port) {
		@include transform(20%, 40%, 50%, 50%);
		&:hover {
			@include transform(30%, 50%, 50%, 50%);
		}

	}
	@media (min-width: $breakpoint-tablet-land) {
		@include transform(20%, 40%, 50%, 50%);
		&:hover {
			@include transform(50%, 45%, 50%, 50%);
		}
	}
	.div-blurb-text{
		z-index: 3;
		.blurb-title {
			@include p-mobile-p;
			padding-top: 10%;
			padding-bottom: auto;
			@media (min-width: $breakpoint-tablet-port) {
				margin-bottom: 0px;
				padding-top: 5%;
			}

		}
		ul {
			padding-left: 0px;

			@include li-blurb-mobile-p;
		}
	}
}

#two {
	width:100vw;
	height: 180px;
	position: relative;
	background-color: $orange;
	@include transform(40%, 50%, 50%, 50%);
	transition: clip-path 1s;
	&:hover {
		@include transform(30%, 50%, 50%, 50%);
	}
	@media (min-width: $breakpoint-tablet-port) {
		@include transform(20%, 50%, 50%, 50%);
		&:hover {
			@include transform(30%, 50%, 50%, 50%);
		}
	}
	@media (min-width: $breakpoint-tablet-land) {
		@include transform(20%, 50%, 50%, 50%);
		&:hover {
			@include transform(50%, 45%, 50%, 50%);
		}
	}
	.div-blurb-text{
		z-index: 3;
		.blurb-title {
			@include p-mobile-p;
			padding-top: 10%;
			padding-bottom: auto;
			@media (min-width: $breakpoint-tablet-port) {
				margin-bottom: 0px;
				padding-top: 5%;
			}
			@media (min-width: $breakpoint-tablet-land) {
				padding-top: 3%;
			}

		}
		ul {
			padding-left: 0px;

			@include li-blurb-mobile-p;
		}
	}
}

#three {
	width:100vw;
	height: 180px;
	position: relative;
	background-color: $orange;
	@include transform(30%, 50%, 50%, 50%);
	transition: clip-path 1s;
	&:hover {
		@include transform(40%, 50%, 50%, 50%);
	}
	@media (min-width: $breakpoint-tablet-port) {
		@include transform(20%, 50%, 50%, 50%);
		&:hover {
			@include transform(30%, 50%, 50%, 50%);
		}
	}
	@media (min-width: $breakpoint-tablet-land) {
		@include transform(20%, 50%, 50%, 50%);
		&:hover {
			@include transform(30%, 40%, 50%, 50%);
		}
	}
	.div-blurb-text{
		z-index: 3;
		.blurb-title {
			@include p-mobile-p;
			padding-top: 10%;
			padding-bottom: auto;
			@media (min-width: $breakpoint-tablet-port) {
				margin-bottom: 0px;
				padding-top: 5%;
			}
			@media (min-width: $breakpoint-tablet-port) {
				padding-top: 3%;
			}

		}
		ul {
			padding-left: 0px;

			@include li-blurb-mobile-p;
		}
	}
}


#four {
	width:100vw;
	height: 210px;
	position: relative;
	background-color: $orange;
	@include transform(48%, 50%, 50%, 50%);
	transition: clip-path 1s;
	&:hover {
		@include transform(55%, 50%, 50%, 50%);
	}
	@media (min-width: $breakpoint-tablet-port) {
		@include transform(25%, 50%, 50%, 50%);
		&:hover {
			@include transform(40%, 50%, 50%, 50%);
		}
	}
	@media (min-width: $breakpoint-tablet-land) {
		@include transform(30%, 50%, 50%, 50%);
		&:hover {
			@include transform(40%, 50%, 50%, 50%);
		}
	}
	.div-blurb-text{
				text-align: center;

		z-index: 3;
		.blurb-title {
			@include center-element;
			@include p-mobile-p;
			padding-top: 10%;
			padding-bottom: auto;
			width: 70vw;
			@media (min-width: $breakpoint-tablet-port) {
				margin-bottom: 0px;
				padding-top: 5%;
				width: 50vw;
			}
			@media (min-width: $breakpoint-tablet-port) {
				padding-top: 3%;
			}

		}
		ul {
			padding-left: 0px;

			@include li-blurb-mobile-p;
		}
	}
}


#five {
	width:100vw;
	height: 220px;
	position: relative;
	background-color: $orange;
	@include transform(50%, 45%, 50%, 45%);
	transition: clip-path 1s;
	&:hover {
		@include transform(50%, 50%, 50%, 50%);
	}
	@media (min-width: $breakpoint-tablet-port) {
		@include transform(35%, 40%, 50%, 40%);
		&:hover {
			@include transform(40%, 50%, 50%, 50%);
		}
	}
	@media (min-width: $breakpoint-tablet-land) {
		@include transform(30%, 45%, 50%, 45%);
		&:hover {
			@include transform(40%, 50%, 50%, 50%);
		}
	}
	.div-blurb-text{
		z-index: 3;
		.blurb-title {
			@include p-mobile-p;
			padding-top: 15%;
			padding-bottom: auto;
			@media (min-width: $breakpoint-tablet-port) {
				margin-bottom: 0px;
				padding-top: 5%;
			}

		}
		ul {
			padding-left: 0px;

			@include li-blurb-mobile-p;
		}
	}
}





//section Three 


.work {
	background: $dkpurple;
	height: 2308px;
	position: relative;
	padding-top: 85px;
	margin-top: 50px;
	@media (min-width: $breakpoint-tablet-port) {
		height: 1808px;
	}
	@media (min-width: $breakpoint-tablet-land) {
    	height: 2508px;
  	}
}

.sectionthree-title {
  	width: 250px;
  	height: 97px;
  	@include section-three-title-mobile-p;
  	margin-top: 0px;
  	padding-top: 0px;
  	margin-bottom: 0px;
  	position: absolute;
  	top: -20px;
  	@media (min-width: $breakpoint-tablet-port) {
		width: 50vw;
		right: 170px;
		top: -25px;
   	}
   	@media (min-width: $breakpoint-tablet-land) {
    	top: -30px;
  	}
}

.div-filter{
	text-align: center;
	margin-bottom: 25px;
	@media (min-width: $breakpoint-tablet-port) {
		text-align: left;
		padding-left: 5%;
	}
}

.Button-Background {
  width: 185px;
  height: 40px;
  border-radius: 18px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
  border: solid 1px #979797;
  background-color: $lavender;
  @include filter-mobile-p;
  margin-bottom: 15px;
  @include text-shadow-20;
}
.flex-project {
	@media (min-width: $breakpoint-tablet-port) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.project {
	width: 215px;
	height: 195px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	box-shadow: 0 2px 4px 0 $black-50;
	border: solid 1px $lavender;
	background-color: $dkpurple;
	@media (min-width: $breakpoint-tablet-port) {
		width: 30vw;
		height: 25vh;
		margin: 5%;
	}
	@media (min-width: $breakpoint-tablet-land) {
    	height: 45vh;
  	}

}


//section four
footer{
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 60vh;
	@media (min-width: $breakpoint-tablet-port) {
		height: 50vh;
	}
	@media (min-width: $breakpoint-tablet-land) {
    	height: 70vh;
  	}
}

.wrapper {
	text-align: center;
}
.footer-title {
	@include footer-title-mobile-p;
	@include center-element;
	padding-top: 30%;
	margin-bottom: 10%;
	@media (min-width: $breakpoint-tablet-port) {
		padding-top: 20%;
		margin-bottom: 10%;
	}
	@media (min-width: $breakpoint-tablet-land) {
    	padding-top: 5%;
  	}
}

.email {
	width: 70vw;
	height: 8vh;
	border-radius: 38px;
	box-shadow: 0 2px 4px 0 $black-20;
	border: solid 1px $orange;
	background-color: $orange;
	@include email-btn-mobile-p;
	@media (min-width: $breakpoint-tablet-port) {
		width: 50vw;
		height: 5vh;
	}
	@media (min-width: $breakpoint-tablet-land) {
    	width: 40vw;
		height: 10vh;
  	}
}



