@import 'colors', 'fonts', 'mixins', 'textBlurbs', 'animate';
$breakpoint-tablet-port: 768px;
$breakpoint-tablet-land: 1024px;

//background
* {
	scroll-behavior: smooth;
	width: 100vw;

}

#root{
	background: $lavender;
	overflow-x: hidden;
}

//Section One
header{
	height: 100vh;
	text-align: center;
	@include bottom-line;
}

.headerDesign {
	@include center-element;
	width: 70vw;
	height: auto;
	border: 10px solid $orange;
	border-top-style: none;
  	border-right-style: solid;
  	border-bottom-style: solid;
  	border-left-style: solid;
}

.title {
	margin-top: 0px;
	padding-top: 10vmin;
	@include title-mobile-p;
	@media (min-width: $breakpoint-tablet-port) {
		padding-top: 3%;
	}
	@media (min-width: $breakpoint-tablet-land) {
		padding-top: 8%;
	}
}

.subtitle-text {
	margin-top: 25vmin;
	@include header-subtitle-mobile-p;
	@media (min-width: $breakpoint-tablet-port) {
		margin-top: 20%;
	}
	@media (min-width: $breakpoint-tablet-land) {
		margin-top: 10%;
	}
}

//arrows

.arrows {
	position: fixed;
	top: 40%;
	right: 0px;
	width: 10vw;
	height: 20vh;
	z-index: 4;
	@media (min-width: $breakpoint-tablet-land) {
		width: 10vw;
	}
}

.arrow {
  	width: 100%;
  	height: 50%;
  	@media (min-width: $breakpoint-tablet-port) {
		width: 80%;
		height: 60%;
	}
	@media (min-width: $breakpoint-tablet-land) {
		width: 100%;
		height: 80%;
	}
}

.hide {
	display: none;
}
//section Two

#experience {
	height: auto;
}
.section-title{
	@include section-two-header-mobile-p;
	margin-bottom: 0px;
}


p {
  @include p-mobile-p;
}

.left{
	.div-blurb-text {
		padding: 3%;
	}
	.blurb-title {
		width: auto;
		display: inline-block;
	}
	ul {
		margin-top: 0px;
		padding-left: 0px;
		width: auto;
		text-align: center;
		li {
			width: auto;
			@include li-blurb-mobile-p;
		}
	}
}

.right{
	.div-blurb-text {
		margin-left: auto;
		margin-right: 0px;
		padding: 3%;
	}
	.blurb-title {
		width: auto;
		display: inline-block;
	}
	ul {
		margin-top: 0px;
		padding-left: 0px;
		width: auto;
		text-align: center;
		li {
			width: auto;
			@include li-blurb-mobile-p;
		}
	}
}
.blurbs{
	height: auto;
	padding-bottom: 5%;
	div:nth-child(-n + 1){ 
		height: auto;
		.blurb-title {
			padding-top: 3vmin;
		}
	}
	div:nth-child(n + 2){
		height: auto;
	}
	div:nth-child(n + 4){
		height: auto;
		.blurb-title {
			width: 50vmin;
			padding-top: 5vmin;
		}
	}
	div:nth-child(5){
		.blurb-title {
			padding-top: 8vmin;
		}
	}
}



#one {
	@include transform(50%, 50%, 70%);
	&:hover {
		@include transform(100%, 50%, 30%);
	}
	@media (min-width: $breakpoint-tablet-land) {
		@include transform(50%, 50%, 70%);
		&:hover {
			@include transform(100%, 50%, 30%);
		}
	} 
	@include blurb-sizing($left: false, $width: false);
}

#two {
	@include transform(50%, 50%, 30%);
	&:hover {
		@include transform(100%, 50%, 70%);
	}
	@media (min-width: $breakpoint-tablet-land) {
		@include transform(55%, 45%, 30%);
		&:hover {
			@include transform(100%, 45%, 70%);
		}
	} 

	@include blurb-sizing($left: true, $width: false);
}

#three {
	@include transform(50%, 50%, 70%);
	&:hover {
		@include transform(100%, 50%, 30%);
	}
	@media (min-width: $breakpoint-tablet-land) {
		@include transform(55%, 45%, 70%);
		&:hover {
			@include transform(100%, 45%, 30%);
		}
	} 

	@include blurb-sizing($left: false, $width: false);
}


#four {
	@include transform(60%, 50%, 30%);
	&:hover {
		@include transform(100%, 50%, 70%);
	}
	@include blurb-sizing($left: true, $width: true);
}


#five {
	@include transform(60%, 50%, 70%);
	&:hover {
		@include transform(100%, 50%, 30%);
	}
	@include blurb-sizing($left: false, $width: true);
}


@media screen and (orientation: landscape) {
	.right{
		.div-blurb-text {
			margin-left: auto;
			margin-right: 28%;
		}
	}
	.left{
		.div-blurb-text {
			margin-left: 15%;
			margin-right: auto;
		}
	}

	#one {
		@include transform(20%, 50%, 60%);
		&:hover {
			@include transform(80%, 50%, 30%);
		}
	}

	#two {
		@include transform(25%, 50%, 30%);
		&:hover {
			@include transform(100%, 50%, 70%);
		}
	}

	#three {
		@include transform(20%, 50%, 60%);
		&:hover {
			@include transform(100%, 50%, 30%);
		}
	}


	#four {
		@include transform(25%, 50%, 30%);
		&:hover {
			@include transform(100%, 50%, 70%);
		}
	}


	#five {
		@include transform(25%, 50%, 60%);
		&:hover {
			@include transform(100%, 50%, 30%);
		}
	}
	
}




//section Three 


.work {
	background: $dkpurple;
	height: auto;
}

.titlebtnContainer {
	display: flex;
	flex-direction: column;
}

.sectionthree-title {
  	width: 100%;
  	height: auto;
  	@include section-three-title-mobile-p;
  	margin-top:	0%;
  	margin-bottom: 4%;
  	@media (min-width: $breakpoint-tablet-port) {
		@include center-element;
   	}
}

.div-filter{
	text-align: center;
	margin-bottom: 2vmin;
}

.Button-Background {
  width: 40vmin;
  border-radius: 18px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
  border: solid 1px #979797;
  background-color: $lavender;
  @include filter-mobile-p;
  margin-bottom: 15px;
  @include text-shadow-20;
  @media (min-width: $breakpoint-tablet-port) {
  		height: 8vmin;
	}
}


.titlebtnContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#filter-menu {
	width: 40vw;
	z-index: 4;
	position: absolute;
}

#filter-menu {
	position:relative;
	background: $lavender;
	width: 90vw;
	height: auto;
	border-radius: 18px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	.close {
		position: absolute;
		left: 2px;
		top: 2px;
		width: 1vw;
		background: none;
		border: none;
		font-size: 1.5em;
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 90vw;
	margin-top: 5%;
	padding-bottom: 5%;
	.btn {
		width: 25%;
		background-color: $orange;
		color: #fff;
		border: none;
		border-radius: 18px;
		box-shadow: 0px 3px 2px $black-50;
		&:hover {
			box-shadow: 0px -3px 2px $black-50;
		}
	}
}

.option-title{
	padding-top: 5%;
	text-align: center;
	width: 100%;
}

form{
	width: 90vw;
}
.form-check {
	width: 100%;
	padding-left: 5%;
	text-align: left;
	input{
		width: auto;
		padding-right: 3%;
	}
}


.flex-project {
	min-height: 100vh;
	height: auto;
	display: flex;
	flex-direction: column;
	flex-wrap:no-wrap;
	padding-bottom: 5%;
	justify-content: center;
	background-color: $dkpurple;
	@media (min-width: $breakpoint-tablet-port) {
		margin-top: 10%;
		flex-direction: row;
		flex-wrap: wrap;
	}
	div {
		width: 60vw;
		min-height: 260px;
		height: 40vh;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 8px;
		box-shadow: 0 2px 4px 0 $black-50;
		border: solid 1px $lavender;
		background-color: $dkpurple;
		@media (min-width: $breakpoint-tablet-port) {
			width: 40vw;
			margin: 8px;
		}
	  	p {
	  		text-align: center;
	  		width: 10%;
	  	}
	}
}


@media screen and (orientation: landscape) {
	.titlebtnContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	#filter-menu {
		width: 40vw;
		z-index: 4;
		position: absolute;
	}

	.buttons {
		width: 40vw;
	}

	.flex-project {
		min-height: 100vh;
		height: auto;
		display: flex;
		flex-direction: row;
		flex-wrap:wrap;
		padding-bottom: 5%;
		justify-content: center;
		div {
			width: 40%;
			height: 260px;
			margin: 8px;
		}
	}

}


//section four
#footer{
	background-color: $dkpurple;
	position: relative;
	height: 60vmin;
	width: 100vw;
}
footer{
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.wrapper {
	text-align: center;
}
.footer-title {
	@include footer-title-mobile-p;
	@include center-element;
	padding-top: 20vmin;
	margin-bottom: 5vmin;
}

.email {
	width: 50vmin;
	height: 10vmin;
	border-radius: 38px;
	box-shadow: 0 2px 4px 0 $black-50;
	border: solid 1px $orange;
	background-color: $orange;
	@include email-btn-mobile-p;
}



