@import 'colors', 'fonts', 'mixins';


//background

body{
	background: $dusk;
}

//Section One
header{
	height: 100vh;
	text-align: center;
	@include bottom-line;
}

.headerDesign {
	@include center-element;
	width: 80%;
	text-align: center;
	border: 1px solid $butterscotch;
	border-top-style: none;
  	border-right-style: solid;
  	border-bottom-style: solid;
  	border-left-style: solid;
}

.title {
	margin-top: 0px;
	padding-top: 25%;
  	width: 278px;
  	height: 140px;
	@include text-shadow;
	font-family: Jonah;
	font-size: 72px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 3.13px;
	text-align: center;
	color: $very-light-pink;
	@include center-element;
}

.subtitle-text {
	margin-top: 20%;
	margin-bottom: 50%;
	@include text-shadow;

}

//arrows

.arrows {
	position: fixed;
	right: 0px;
	top: 50%;
	width: 100px;
	text-align: right;
	z-index: 4;
}

.arrow {
  width: 61px;
  height: 98px;
}


//section Two
.section-title{
	@include text-shadow;	
}


p {
	@include subtitletext;
	@include text-shadow;

}

.arrow-wrapper {
	text-align: center;
}


//section Three 


.work {
	background: $very-light-pink;
	height: 2308px;
	position: relative;
	padding-top: 85px;
	margin-top: 50px;
}

.sectiontwo-title {
  width: 250px;
  height: 97px;
  text-shadow: 0 3px 5px $black-50;
  @include work-text;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  top: -20px;
}

.div-filter{
	text-align: center;
	margin-bottom: 25px;
}

.Button-Background {
  width: 185px;
  height: 40px;
  border-radius: 18px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
  border: solid 1px #979797;
  background-color: $very-light-pink;
  @include filterText;
  margin-bottom: 15px;
  	@include text-shadow;

}

.project {
  width: 215px;
  height: 195px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px 0 $black-50;
  border: solid 1px $brown-grey;
  background-color: $very-light-pink-two;
}


//section four

.wrapper {
	text-align: center;
}
.footer-title {
  width: 293px;
  height: 162px;
  text-shadow: 0 5px 7px $black-50;
  @include Text-Style-3;
  @include center-element;
  margin-top: 50px;
}

.email {
  width: 289px;
  height: 55px;
  border-radius: 38px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
  border: solid 1px $brown-grey;
  background-color: $blush;
  @include text-shadow;

  font-family: Impact;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.92px;
  text-align: center;
  color: $very-light-pink;
  margin-bottom: 25px;
}



