.flex-project {
	#prev-one {
		img {

		}
		.about-title::after{
			content: "About Project";
		}
		.about-paragraph::after{
			content: "Quickly disseminate technically sound convergence for adaptive functionalities. Authoritatively impact customer directed total linkage for functional sources. Appropriately harness sustainable processes after 2.0 markets. Dynamically pursue extensible expertise via collaborative bandwidth. Intrinsicly monetize out-of-the-box total linkage rather than timely scenarios."
		}

		.extra-title::after{
			content: "Languages Used"
		}
		ul {
			li:nth-child(1)::after {
				content: "- React";
			}
			li:nth-child(2)::after {
				content: "- HTML";
			}
			li:nth-child(3)::after {
				content: "- CSS";
			}
		}
	}

	#prev-two {
		img {

		}
		.about-title::after{
			content: "About Project";
		}
		.about-paragraph::after{
			content: "Quickly disseminate technically sound convergence for adaptive functionalities. Authoritatively impact customer directed total linkage for functional sources. Appropriately harness sustainable processes after 2.0 markets. Dynamically pursue extensible expertise via collaborative bandwidth. Intrinsicly monetize out-of-the-box total linkage rather than timely scenarios."
		}

		.extra-title::after{
			content: "Languages Used"
		}
		ul {
			li:nth-child(1)::after {
				content: "- AJAX";
			}
			li:nth-child(2)::after {
				content: "- HTML";
			}
			li:nth-child(3)::after {
				content: "- CSS";
			}
		}
	}

	#prev-three {
		.screen-image {	
			content: $peakspixelsurl;

		}
		.about-title::after{
			content: "About Project";
		}
		.about-paragraph::after{
			content: "Quickly disseminate technically sound convergence for adaptive functionalities. Authoritatively impact customer directed total linkage for functional sources. Appropriately harness sustainable processes after 2.0 markets. Dynamically pursue extensible expertise via collaborative bandwidth. Intrinsicly monetize out-of-the-box total linkage rather than timely scenarios."
		}

		.extra-title::after{
			content: "Languages Used"
		}
		ul {
			li:nth-child(1)::after {
				content: "- JSON-T";
			}
			li:nth-child(2)::after {
				content: "- HTML";
			}
			li:nth-child(3)::after {
				content: "- Less";
			}
		}
	}

	#prev-four {
		.screen-image {	

		}
		.about-title::after{
			content: "About Project";
		}
		.about-paragraph::after{
			content: "Quickly disseminate technically sound convergence for adaptive functionalities. Authoritatively impact customer directed total linkage for functional sources. Appropriately harness sustainable processes after 2.0 markets. Dynamically pursue extensible expertise via collaborative bandwidth. Intrinsicly monetize out-of-the-box total linkage rather than timely scenarios."
		}

		.extra-title::after{
			content: "Languages Used"
		}
		ul {
			li:nth-child(1)::after {
				content: "- JS";
			}
			li:nth-child(2)::after {
				content: "- HTML";
			}
			li:nth-child(3)::after {
				content: "- CSS";
			}
		}
	}
	#prev-five {
		.screen-image {	

		}
		.about-title::after{
			content: "About Project";
		}
		.about-paragraph::after{
			content: "Quickly disseminate technically sound convergence for adaptive functionalities. Authoritatively impact customer directed total linkage for functional sources. Appropriately harness sustainable processes after 2.0 markets. Dynamically pursue extensible expertise via collaborative bandwidth. Intrinsicly monetize out-of-the-box total linkage rather than timely scenarios."
		}

		.extra-title::after{
			content: "Languages Used"
		}
		ul {
			li:nth-child(1)::after {
				content: "- HTML";
			}
			li:nth-child(2)::after {
				content: "- CSS";
			}
			li:nth-child(3)::after {
				content: "- JS";
			}
		}
	}
	#prev-six {
		.screen-image {	

		}
		.about-title::after{
			content: "About Project";
		}
		.about-paragraph::after{
			content: "Quickly disseminate technically sound convergence for adaptive functionalities. Authoritatively impact customer directed total linkage for functional sources. Appropriately harness sustainable processes after 2.0 markets. Dynamically pursue extensible expertise via collaborative bandwidth. Intrinsicly monetize out-of-the-box total linkage rather than timely scenarios."
		}

		.extra-title::after{
			content: "Languages Used"
		}
		ul {
			li:nth-child(1)::after {
				content: "- HTML";
			}
			li:nth-child(2)::after {
				content: "- Bootstrap";
			}
			li:nth-child(3)::after {
				content: "- JS";
			}
		}
	}

	#prev-seven {
		.screen-image {	

		}
		.about-title::after{
			content: "About Project";
		}
		.about-paragraph::after{
			content: "Quickly disseminate technically sound convergence for adaptive functionalities. Authoritatively impact customer directed total linkage for functional sources. Appropriately harness sustainable processes after 2.0 markets. Dynamically pursue extensible expertise via collaborative bandwidth. Intrinsicly monetize out-of-the-box total linkage rather than timely scenarios."
		}

		.extra-title::after{
			content: "Languages Used"
		}
		ul {
			li:nth-child(1)::after {
				content: "- HTML";
			}
			li:nth-child(2)::after {
				content: "- CSS";
			}
			li:nth-child(3)::after {
				content: "- JS";
			}
		}
	}
	#prev-eight {
		.screen-image {	

		}
		.about-title::after{
			content: "About Project";
		}
		.about-paragraph::after{
			content: "Quickly disseminate technically sound convergence for adaptive functionalities. Authoritatively impact customer directed total linkage for functional sources. Appropriately harness sustainable processes after 2.0 markets. Dynamically pursue extensible expertise via collaborative bandwidth. Intrinsicly monetize out-of-the-box total linkage rather than timely scenarios."
		}

		.extra-title::after{
			content: "Languages Used"
		}
		ul {
			li:nth-child(1)::after {
				content: "- HTML";
			}
			li:nth-child(2)::after {
				content: "- JSON-T";
			}
			li:nth-child(3)::after {
				content: "- SCSS";
			}
		}
	}

}